body {
  background-color: #eee;
}
input {
  width: 192px;
  margin-bottom: 5px;
}
textarea {
  width: 190px;
  height: 60px;
}

.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}
